/* style.css is a stylesheet for the Jschool website,
    created by Dylan McKee on 15/04/2015  */

/* Using imports in the CSS file to keep my HTML as semantically clean as possible
    and not clutter it up with link tags */
/* Import reset stylesheet (taken from http://meyerweb.com/eric/tools/css/reset/) */
@import url("reset.css");


/* Import font dependencies from the fonts stylesheet */
@import url("fonts.css");

/* Body styles affect everything in the document - so very simply setting background-color and font up */
body {

    /* A slightly off white background colour, in keeping with flat design */
    background-color: #f9f9f9;

    /* Web safe modern font stack */
    font-family: 'Lato';
}

/* The header section is at the top of every page and contains logo and nav, in a coloured 'banner' */
header {
    /* A dark blue background for the banner, with some padding around it to give it proper shape/size */
    background-color: #2c3e50;
    min-height: 70px;
    padding: 10px 50px;
    padding-top: 40px;
}

/* Navigation element is present within the header tag on every page and contains a list of nav links */
nav {
    /* nav needs to be displayed to the right of the logo within the banner, so display inline where there's space */
    display: inline;
    font-weight: 300;
}

/* header logo is the large logo on the top left of the page within the header banner */
#header-logo {
    /* give it a large thin font, with light colour to contrast with the dark blue banner background */
    color: #ecf0f1;
    font-size: 32pt;
    display: inline;
    font-weight: 300;
}

/* links within the header don't want an ugly underline, they simply need a nice visible white colour */
header a {
    text-decoration: none;
    color: #ecf0f1;
}

/* the navigation links must be floated to the right of the logo, and the list they're in doesn't require style (in the way of bullet points) */
nav ul {
    list-style: none;
    float: right;
}

/* nagiation 'list' items need to display inline next to each other, with a button style box around them, with rounded corners, and the link title in the center */
nav ul li {
    display: inline-block;
    font-size: 14pt;
    padding: 10px;
    border: 1px white solid;
    border-radius: 4px;
    margin-left: 5px;
    margin-right: 5px;
    min-width: 84px;
    text-align: center;
}

/* navigation link buttons need to change their background colour when hovered over to show they're selected */
nav ul li:hover {
    background-color: #34495e;
}

/* the footer is a banner bar present at the bottom of every page, with the same colour as the header banner */
footer {
    min-height: 50px;
    background-color: #2c3e50;
    color: #ecf0f1;
    padding: 20px;
}

footer p {
    font-weight: 200;
    float: right;
    text-align: right;
    position: relative;
    top: -16px;
}

footer > ul > li {
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
}

footer a {
    text-decoration: none;
    font-weight: normal;
    color: #ecf0f1;
}

footer a:hover {
    color: #f9f9f9;
}

section {
    padding: 20px 30px;
}

h1 {
    font-size: 36pt;
    padding-top: 10px;
    padding-bottom: 10px;
}

.lead {
    text-align: center;
    font-weight: 300;
    font-size: 16pt;
}

.lead p {
    padding-top: 5px;
    padding-bottom: 5px;
}

.lead a {
    color: #2c3e50;
    text-decoration: none;
    font-weight: bolder;
}

.lead a:hover {
    text-decoration: underline;
}

.grid {
    text-align: center;
}

.grid > div {
    max-width: 300px;
    width: 100%;
    border: 1px #2c3e50 solid;
    padding: 20px;
    margin: 10px 10px;
    border-radius: 5px;
    display: inline-block;
    vertical-align: top;
}

.grid > div > h3 {
    font-size: 16pt;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.grid > div > p {
    margin-top: 20px;
    margin-bottom: 30px;
}

#tutorial-section > div > div > i{
    color: #f9f9f9;
    background-color: #2c3e50;
    padding: 20px;
    border-radius: 10px;
    font-size: 40px;
}

.grid > div > a {
    background-color: #27ae60;
    text-transform: uppercase;
    color: #f9f9f9;
    padding: 10px 35px;
    border: 1px #f9f9f9 solid;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 200;
}

.grid > div > a:hover {
    background-color: #2ecc71;
}

/* Quiz styles */
#question-text {
    font-weight: 400;
    font-size: 26pt;
    margin-top: 20px;
}

#quiz-title {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 35pt;
}

.answer-button, .answer-button:visited {
    text-align: center;
    padding: 10px;
    font-weight: 200;
    font-size: 14pt;
    background-color: #34495e;
    color: #f9f9f9;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    max-width: 350px;
}

.answer-button:hover {
    background-color: #4C6C8B;
}

#progress-update {
    text-align: center;
    font-weight: 200;
}

#progress-update > progress{
    max-width: 300px;
}

/* quiz completion styles */
#quiz-complete {
    text-align: center;
    font-weight: 200;
}

#quiz-complete > p {
    font-size: 28pt;
    padding: 20px;
}

#quiz-complete #result-saved-string {
    font-size: 15pt;
}

#quiz-complete a {
    padding: 15px;
    color: #f9f9f9;
    margin-right: 10px;
    border-radius: 5px;
    text-decoration: none;
    width: 100%;
    max-width: 180px;
    display: inline-block;
    margin-bottom: 10px;
}

#quiz-complete a#facebook-button {
    background-color: #3b5998;
}

#quiz-complete a#twitter-button {
    background-color: #55acee;
}

#quiz-complete > i {
    /* colour a nice flat green colour since it's a positive icon */
    color: #2ecc71;
    font-size: 90pt;
}

#social-links {
    padding: 20px;
}

.quiz-status {
    color: #27ae60;
    font-weight: 200;
}

/* Generic animations - cross browser support prefixes generated with http://pleeease.io/play/ */
@-webkit-keyframes fadeout {
    from {opacity: 1;filter: alpha(opacity=100);}
    to {opacity: 0;filter: alpha(opacity=0);}
}

@keyframes fadeout {
    from {opacity: 1;filter: alpha(opacity=100);}
    to {opacity: 0;filter: alpha(opacity=0);}
}

.fade-out {
    -webkit-animation-name: fadeout;
            animation-name: fadeout;
    -webkit-animation-direction: forwards;
            animation-direction: forwards;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
}

@-webkit-keyframes fadein {
    from {opacity: 0;filter: alpha(opacity=0);}
    to {opacity: 100;filter: alpha(opacity=1);}
}

@keyframes fadein {
    from {opacity: 0;filter: alpha(opacity=0);}
    to {opacity: 100;filter: alpha(opacity=1);}
}

.fade-in {
    -webkit-animation-name: fadein;
            animation-name: fadein;
    -webkit-animation-direction: forwards;
            animation-direction: forwards;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
}


/* Media queries for screens smaller than standard desktop */
@media screen and (max-width: 745px) {
    /* below 745px, a collision between links and credit in the footer occurs,
        stop this from happening by displaying it in a block instead of floating */
    footer p {
        margin-top: 16px;
        float: none;
        text-align: center;
        position: inherit;
    }

    /* display the list of links in block form, centered, with a decent amount of spacing between them vertically */
    footer > ul > li {
        text-align: center;
        margin-right: 10px;
        display: block;
        margin-top: 10px;
    }

    /* display the nav links in the header in block form, unfloated, with some vertical spacing between them */
    header ul {
        float: none;
    }

    header ul li {
        display: block;
        margin-top: 10px;
    }
}
