/* style.css is a stylesheet for the Jschool website,
    created by Dylan McKee on 15/04/2015  */

/* Using imports in the CSS file to keep my HTML as semantically clean as possible
    and not clutter it up with link tags */
/* Import reset stylesheet (taken from http://meyerweb.com/eric/tools/css/reset/) */
@import url("reset.css");


/* Import font dependencies from the fonts stylesheet */
@import url("fonts.css");


/* Import the theme that highlight.js requires for syntax colouring */
@import url("highlightjs-theme.css");


/* Body styles affect everything in the document - so very simply setting background-color and font up */
body {

    /* A slightly off white background colour, in keeping with flat design */
    background-color: #f9f9f9;

    /* Web safe modern font stack */
    font-family: 'Lato';
}

/* The header section is at the top of every page and contains logo and nav, in a coloured 'banner' */
header {
    /* A dark blue background for the banner, with some padding around it to give it proper shape/size */
    background-color: #2c3e50;
    /* the header needs a minimum height so that desktop sized screens display it properly */
    min-height: 70px;
    /* some padding means logos/links don't collide with the sides of the viewport */
    padding: 10px 50px;
    padding-top: 40px;
}

/* Navigation element is present within the header tag on every page and contains a list of nav links */
nav {
    /* nav needs to be displayed to the right of the logo within the banner, so display inline where there's space */
    display: inline;
    font-weight: 300;
}

/* header logo is the large logo on the top left of the page within the header banner */
#header-logo {
    /* give it a large thin font, with light colour to contrast with the dark blue banner background */
    color: #ecf0f1;
    font-size: 32pt;
    display: inline;
    font-weight: 300;
}

/* links within the header don't want an ugly underline, they simply need a nice visible white colour */
header a {
    text-decoration: none;
    color: #ecf0f1;
}

/* the navigation links must be floated to the right of the logo, and the list they're in doesn't require style (in the way of bullet points) */
nav ul {
    list-style: none;
    float: right;
}

/* nagiation 'list' items need to display inline next to each other, with a button style box around them, with rounded corners, and the link title in the center */
nav ul li {
    display: inline-block;
    font-size: 14pt;
    padding: 10px;
    border: 1px white solid;
    border-radius: 4px;
    margin-left: 5px;
    margin-right: 5px;
    min-width: 84px;
    text-align: center;
}

/* navigation link buttons need to change their background colour when hovered over to show they're selected */
nav ul li:hover {
    background-color: #34495e;
}

/* the footer is a banner bar present at the bottom of every page, with the same colour as the header banner */
footer {
    min-height: 50px;
    background-color: #2c3e50;
    color: #ecf0f1;
    padding: 20px;
}

/* the footer paragraph contains credit notice, and must be in a light font on teh right hand side,
    aligned vertiacally with the links on the left hand of the footer (when on a desktop sized viewport) */
footer p {
    font-weight: 200;
    float: right;
    text-align: right;
    position: relative;
    top: -16px;
}

/* footer links are displayed in a horizontal manner with some seperation between them */
footer > ul > li {
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
}

/* footer links need to be visable on a dark background, and don't want any underlining */
footer a {
    text-decoration: none;
    font-weight: normal;
    color: #ecf0f1;
}

/* hovered footer links go a little lighter to show the user they're hovered */
footer a:hover {
    color: #f9f9f9;
}

/* sections all require some padding to ensure their contents don't bump into the walls
    of the viewport in any manner */
section {
    padding: 20px 30px;
}

/* A good size heading, with padding around it to give extra prominence */
h1 {
    font-size: 36pt;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* lead text needs to be large and light, and centered, for prominence */
.lead {
    text-align: center;
    font-weight: 300;
    font-size: 16pt;
}

/* individual paragraph elements want extra spacing (vertically) to make them
    more readable */
.lead p {
    padding-top: 5px;
    padding-bottom: 5px;
}

/* about page paragraphs require decent vertical spacing */
.about p {
    margin-top: 15px;
    margin-bottom: 15px;
}

/* all section links should be in a dark blue colour, with bold text, but no underline */
section a {
    color: #2c3e50;
    text-decoration: none;
    font-weight: bolder;
}

/* change to being underlined on hover to show their state to the user */
section a:hover {
    text-decoration: underline;
}

/* the grid is to contain div's - tiled out from the center */
.grid {
    text-align: center;
}

/* divs within the grid must have a max width suitable for small screens,
    and must display inline-block (to physically be in grid form, resizable
    as the browser resizes). They have a dark blue border around them, with
    rounded corners */
.grid > div {
    max-width: 300px;
    width: 100%;
    border: 1px #2c3e50 solid;
    padding: 20px;
    margin: 10px 10px;
    border-radius: 5px;
    display: inline-block;
    vertical-align: top;
}

/* grid items have a prominent bold heading */
.grid > div > h3 {
    font-size: 16pt;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

/* text needs spaced properly between the grid item's heading and borders */
.grid > div > p {
    margin-top: 20px;
    margin-bottom: 30px;
}


#tutorial-section > div > div > i{
    color: #f9f9f9;
    background-color: #2c3e50;
    padding: 20px;
    border-radius: 10px;
    font-size: 40px;
    min-width: 40px;
}

/* a re-usable rounded button to apply to link elements, with a green background colour */
.rounded-button {
    background-color: #27ae60;
    text-transform: uppercase;
    color: #f9f9f9;
    padding: 10px 35px;
    border: 1px #f9f9f9 solid;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 200;
}

/* the button turns a lighter green when hoevered, and its text goes bolder (but not underlined) */
.rounded-button:hover {
    background-color: #2ecc71;
    text-decoration: none;
    font-weight: bolder;
}

/* Quiz styles */
/* question text is to contain the text for the question - medium weighted, fairly large */
#question-text {
    font-weight: 400;
    font-size: 26pt;
    margin-top: 20px;
}

/* the title of the quiz - large, bold, prominent */
#quiz-title {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 35pt;
}

/* a slightly rounded, wide button - to hold possible quiz answer choices */
.answer-button, .answer-button:visited {
    text-align: center;
    padding: 10px;
    font-weight: 200;
    font-size: 14pt;
    background-color: #34495e;
    color: #f9f9f9;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    max-width: 350px;
}

/* the button goes a ligter blue when hovered over to indicate to the user that they're about to select that answer */
.answer-button:hover {
    background-color: #4C6C8B;
}

/* a section below the quiz that contains the quiz question number, in the center */
#progress-update {
    text-align: center;
    font-weight: 200;
}

/* the progress bar in the progress section doesn't want to be *too* wide */
#progress-update > progress{
    max-width: 300px;
}

/* quiz completion styles */
#quiz-complete {
    text-align: center;
    font-weight: 200;
}

#quiz-complete > p {
    font-size: 28pt;
    padding: 20px;
}

#quiz-complete #result-saved-string {
    font-size: 15pt;
}

#quiz-complete > a {
    font-size: 16pt;
    font-weight: 200;
    text-decoration: none;
    color: #2c3e50;
}

#social-links a {
    padding: 15px;
    color: #f9f9f9;
    margin-right: 10px;
    border-radius: 5px;
    text-decoration: none;
    width: 100%;
    max-width: 180px;
    display: inline-block;
    margin-bottom: 10px;
}

#social-links a#facebook-button {
    background-color: #3b5998;
}

#social-links a#twitter-button {
    background-color: #55acee;
}

#quiz-complete > i {
    /* colour a nice flat green colour since it's a positive icon */
    color: #2ecc71;
    font-size: 90pt;
}

#social-links {
    padding: 20px;
}

/* Quizzes page styles */
.quiz-status {
    color: #27ae60;
    font-weight: 200;
}

#quiz-clear-section {
    text-align: center;
    margin: 20px;
}

/* apply a red background to the rounded button class for destructive buttons */
.red-button {
    background-color: #c0392b;
}

.red-button:hover {
    background-color: #e74c3c;
}

/* Tutorial page styles */
/* sections within the tutorial container require special styling... */
#tutorial-container > section {
    font-weight: 200;
    line-height: 1.2;
    font-size: 14pt;
}

/* tutorial section headings (in h2's) require large-ish fonts */
#tutorial-container > section > h2 {
    font-size: 20pt;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* the last thing in a tutorial container is always a 'take the quiz' button section,
    which needs center alignment - along with decent vertical spacing */
#tutorial-container > section:last-child {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* tutorial videos need to be centered, and decently padded */
#tutorial-container > section > video {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 15px;
}

/* code examples need to be in a monospaced font! */
code {
    /* lovely monospaced font stack taken from Atom... https://discuss.atom.io/t/what-is-the-default-font-in-atom/374 */
    font-family: 'Inconsolata', 'Monaco', 'Consolas', 'Courier New', 'Courier', monospace;

    /* code examples need rounded corners */
    border-radius: 10px;

    /* code font doesn't need to be ridiculously large... */
    font-size: 12pt;
}

/* code examples need to be preceeded by a 'Code Example title too' */
code::before {
    content: "Code Example";
    display: block;
    font-size: 16pt;
    font-weight: bold;
}

/* top tips are special highlighted features within tutorials */
#tutorial-container > section > p.top-tip {
    background-color: #e67e22;
    color: #ecf0f1;
    padding: 15px;
    /* top tips need rounded corners */
    border-radius: 10px;
}

/* they require a title to be inserted before them too... */
#tutorial-container > section > p.top-tip::before {
    content: "Top Tip";
    display: block;
    font-size: 16pt;
    font-weight: bold;
}


/* Credits */
/* define rolling credits that look like movie credits, scrolling down from the
    top of the screen (then stopping) */
@-webkit-keyframes creditroll {
    from {top: -100%;}
    to {top: 0;}
}

@keyframes creditroll {
    from {top: -100%;}
    to {top: 0;}
}

/* a container for the scrolling credits, position relative (to contain the
    position absolute credits), and with a concrete height so the animations
    can work properly */
#scrolling-credits {
    overflow: hidden;
    position: relative;
    height: 420px;
}

/* the div is what actually scrolls - by applying the creditroll animation defined
    above. Position absolute to make the 'top' property work as required,
    and width set to provide sufficient padding at runtime thanks to the
    CSS3 calc function */
#scrolling-credits > div {
    position: absolute;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: calc(100% - 50px);
    line-height: 200%;
            -webkit-animation-name: creditroll;
                    animation-name: creditroll;
            -webkit-animation-duration: 3s;
                    animation-duration: 3s;
                    -webkit-animation-direction: forwards;
                            animation-direction: forwards;

}

/* style the credit's text up */
#scrolling-credits > div > p {
    font-weight: 200;
    font-size: 16pt;

}

/* Generic animations - cross browser support prefixes generated with http://pleeease.io/play/ */
/* define the fade out animations */
@-webkit-keyframes fadeout {
    from {opacity: 1;filter: alpha(opacity=100);}
    to {opacity: 0;filter: alpha(opacity=0);}
}

@keyframes fadeout {
    from {opacity: 1;filter: alpha(opacity=100);}
    to {opacity: 0;filter: alpha(opacity=0);}
}

/* a generic class that performs the fade out animation defined above */
.fade-out {
    -webkit-animation-name: fadeout;
            animation-name: fadeout;
    -webkit-animation-direction: forwards;
            animation-direction: forwards;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
}

/* define the fade in animations */
@-webkit-keyframes fadein {
    from {opacity: 0;filter: alpha(opacity=0);}
    to {opacity: 100;filter: alpha(opacity=1);}
}

@keyframes fadein {
    from {opacity: 0;filter: alpha(opacity=0);}
    to {opacity: 100;filter: alpha(opacity=1);}
}

/* a generic class that performs the fade in animation defined above */
.fade-in {
    -webkit-animation-name: fadein;
            animation-name: fadein;
    -webkit-animation-direction: forwards;
            animation-direction: forwards;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
}


/* Media queries for screens smaller than standard desktop */
@media screen and (max-width: 745px) {
    /* below 745px, a collision between links and credit in the footer occurs,
        stop this from happening by displaying it in a block instead of floating */
    footer p {
        margin-top: 16px;
        float: none;
        text-align: center;
        position: inherit;
    }

    /* display the list of links in block form, centered, with a decent amount of spacing between them vertically */
    footer > ul > li {
        text-align: center;
        margin-right: 10px;
        display: block;
        margin-top: 10px;
    }

    /* display the nav links in the header in block form, unfloated, with some vertical spacing between them */
    nav ul {
        float: none;
    }

    nav ul li {
        display: block;
        margin-top: 10px;
    }

    /* credits need a longer run on smaller screens due to text wrapping - increase the height */
    #scrolling-credits {
        height: 720px;
    }

}
